img
{
    width: 200px;
    height: auto;
}
.use_soft
{
    width: 70px;
}
.elems
{
    margin: 0% 2.5% 0%;
}

html 
{
    scroll-behavior: smooth;
}
.anim {
    opacity: 0;  
    transform: translateY(50px);  
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
  .anim.visible {
    opacity: 1;
    transform: translateY(0);
  }

body
{
    width: 300px;
    position: relative;
   
}
body *
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

header
{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0; 
    padding: 0; 
    z-index: 10;
}
header .header_text
{ 
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(30, 30, 30, 0.9);
    z-index: 0;
}
header .line
{
    margin-top: 70px;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 100%;
    background-color: rgb(225, 225, 225);
}
.header_text h1
{
    font-size: 65px;
    color: rgb(225, 225, 225);
    margin-top: 10px;
    margin-left: 10%;
}
.header_text nav ul
{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    right: 2em;
    top: 53px;
}
.header_text nav ul a
{
    margin-left: 5%;
    font-size: 30px;
    color: rgb(225, 225, 225);
    text-decoration: none;
}
.Profile
{
    margin-top: 150px;
}

.Profile h2 ,.Work h2 ,.Speech h2
{
    font-size: 40px;
    border-bottom: 2px solid black;
}

.Profile .Profile_elem
{
    display: flex;
}
.Profile_elem .Profile_img
{
    width: 130px;
    height: 100%;
    margin-right: 5px;
}
.Profile_elem .Profile_words h2
{
    font-size: 33px;
}
.Profile_elem .Profile_words h4
{
    font-size: 16px;
}

@media (max-width: 350px) 
{
    .Profile_elem .Profile_words p
    {
        width: 286px;
        margin-top: 50px;
        font-size: 16px;
        position: fixed;
        right: 0px;
    }
    .Profile .Profile_elem
    {
        margin-bottom: 150px;
    }
}

.Profile .Profile_skils_elem_info
{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
    gap: 10px;
    margin: 1em 0em 1em;
}
.Profile_skils_elem h3
{
    font-size: 28px;
}
.Profile_skils_elem_info .skill01 ,.Profile_skils_elem_info .skill02,.Profile_skils_elem .skill03,.Profile_skils_elem .skill04,.Profile_skils_elem .skill05,.Profile_skils_elem .skill06
{
    display: flex;
    
}
.skill01 .skill01_img ,.skill02 .skill02_img, .skill03 .skill03_img, .skill04 .skill04_img, .skill05 .skill05_img
{
    width: 90px;
    height: 90px;
}
.skill06 .skill06_img
{
    width: 120px;
    height: 120px;
}
.skill01_word, .skill02_word, .skill03_word, .skill04_word, .skill05_word
{
    margin-left: 10px;
}
.Profile_skils_elem_info h4
{
    font-size: 20px;
}
.Work h3
{
    font-size: 30px;
}
.Work h4
{
    font-size: 22px;
}
.Work h5
{
    font-size: 18px;
}

footer
{
    background-color: rgba(30, 30, 30, 0.9);

    width: 100%;
    margin: 0; 
    padding-top: 2px;
    padding-bottom: 5px; 

}
footer h5
{
    text-align: center;
    font-size: 18px;
    color: rgb(225, 225, 225);
}

@media (min-width: 768px) {
    body {
        width: 100%;
        margin: 0%;
    }
    .use_soft
    {
        width: 100px;
        margin: 5px;
    }
    .Profile {
        margin-top: 150px;
    }

    .Profile h2, .Work h2, .Speech h2 {
        font-size: 50px;
    }
    
    .Profile .Profile_elem {
        margin: 0 auto;
        max-width: 800px;
    }
    .Profile_skils_elem h3
    {
        font-size: 40px;
    }

    .Profile_elem .Profile_img {
        width: 350px;
        
    }
    .Profile_words
    {
        margin-top: 100px;
        margin-left: 20px;
    }
    .Profile_elem .Profile_words h3 {
        font-size: 45px;
    }

    .Profile_elem .Profile_words h4 {
        font-size: 20px;
    }
    .Profile_elem .Profile_words p
    {
        font-size: 20px;
    }  

    .Profile .Profile_skils_elem {
        max-width: 1200px;
        margin: 2em auto;
    }

    .Profile_skils_elem .skill01, .Profile_skils_elem .skill02, .Profile_skils_elem .skill03, .Profile_skils_elem .skill04, .Profile_skils_elem .skill05, .Profile_skils_elem .skill06 {
        justify-content: center;
    }

    .skill01 .skill01_img, .skill02 .skill02_img, .skill03 .skill03_img, .skill04 .skill04_img, .skill05 .skill05_img {
        width: 100px;
        height: 100px;
    }

    .skill06 .skill06_img {
        width: 130px;
        height: 130px;
    }
    
    .Work h3
    {
        font-size: 40px;
    }
    .Work h4
    {
        font-size: 26px;
    }
    .Work h5
    {
        font-size: 20px;
    }
    .img_work
    {
        width: 400px;
        height: 100%;
    }
    .OriginalV, .project, .koiGame
    {
       margin-bottom: 100px;
    }
    .OriginalV_elem_info, .project_elem_info, .koiGame_elem_info
    {
        display: flex;
        margin: 2em 0em 2em;
    }
    .OriginalV_elem_info_soft, .project_elem_info_soft, .koiGame_elem_info_soft
    {
        display: flex;
        margin-left: 15em;
    }
    .OriginalV_elem_info_soft_vari, .project_elem_info_soft_vari, .koiGame_elem_info_soft_vari
    {
        margin-left: 40px;
    }
    .Speech
    {
        margin-bottom: 100px;
    }
    .Speech h4
    {
        font-size: 18px;
    }
    .koiGame_img
    {
        display: flex;
        gap: 10px;
        align-items: flex-end;
    }

    .koi_sub_img *
    {
        display: flex;
        margin-top: 10px;
        flex: 0 0 auto; 
        height: auto;
    }

}