img
{
    width: 200px;
    height: auto;
}
.use_soft
{
    width: 70px;
}

body
{
    width: 300px;
    position: relative;
    margin: 0% 2.5% 0%;
}
body *
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

header
{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0; 
    padding: 0; 
    z-index: 10;
}
header .header_text
{ 
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(30, 30, 30, 0.9);
    z-index: 0;
}
header .line
{
    margin-top: 70px;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 100%;
    background-color: rgb(225, 225, 225);
}
.header_text h1
{
    font-size: 65px;
    color: rgb(225, 225, 225);
    margin-top: 10px;
    margin-left: 10%;
}
.header_text nav ul
{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    right: 2em;
    top: 53px;
}
.header_text nav ul a
{
    margin-left: 5%;
    font-size: 30px;
    color: rgb(225, 225, 225);
}