img
{
    width: 200px;
    height: auto;
}
.use_soft
{
    width: 70px;
}

body
{
    width: 300px;
    position: relative;
    margin: 0% 2.5% 0%;
}
body *
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

header
{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0; 
    padding: 0; 
    z-index: 10;
}
header .header_text
{ 
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(30, 30, 30, 0.9);
    z-index: 0;
}
header .line
{
    margin-top: 70px;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 100%;
    background-color: rgb(225, 225, 225);
}
.header_text h1
{
    font-size: 65px;
    color: rgb(225, 225, 225);
    margin-top: 10px;
    margin-left: 10%;
}
.header_text nav ul
{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    right: 2em;
    top: 53px;
}
.header_text nav ul a
{
    margin-left: 5%;
    font-size: 30px;
    color: rgb(225, 225, 225);
}
.Profile
{
    margin-top: 150px;
}

.Profile h2 ,.Work h2 ,.Speech h2
{
    font-size: 40px;
    border-bottom: 3px solid black;
}

.Profile .Profile_elem
{
    display: flex;
}
.Profile_elem .Profile_img
{
    width: 130px;
    height: auto;
    margin-right: 5px;
}
.Profile_elem .Profile_words h3
{
    font-size: 33px;
}
.Profile_elem .Profile_words p
{
    font-size: 16px;
}
.Profile .Profile_skils_elem
{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
    gap: 10px;
    margin: 1em 0em 1em;
}

.Profile_skils_elem .skill01 ,.Profile_skils_elem .skill02,.Profile_skils_elem .skill03,.Profile_skils_elem .skill04,.Profile_skils_elem .skill05,.Profile_skils_elem .skill06
{
    display: flex;
    text-align: center;
}
.skill01 .skill01_img ,.skill02 .skill02_img, .skill03 .skill03_img, .skill04 .skill04_img, .skill05 .skill05_img
{
    width: 90px;
    height: 90px;
}
.skill06 .skill06_img
{
    width: 120px;
    height: 120px;
}